@media (max-width: 991.98px) {
    .button-text {
        display: none;
    }
}
.btn{
    margin: 0.2em;
}
.btn i{
    margin: 0 0.3em;
}
.card{
    overflow-x: scroll; 
    overflow-y: hidden; 
    scrollbar-width: none; 
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

table {
    width: 100%;
}
table,
th,
td {
    vertical-align: middle;
}

th:nth-child(1),
td:nth-child(1) {
    width: 10%;
    text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
    width: 40%;
    text-align: left; 
}
th:nth-child(3),
td:nth-child(3) {
    width: 20%;
    text-align: center; 
}
th:nth-child(4),
td:nth-child(4) {
    width: 30%;
    text-align: center;
}