<div class="calendar-container-wrapper">

  <div class="calendar-header">
    <div class="header-title">
      {{ viewDate.toLocaleDateString('pt-BR', { month: 'long', year: 'numeric' }) }}
    </div>
    <div class="header-actions">
      <button (click)="goToPreviousMonth()">&lt;</button>
      <button (click)="viewDate = (getToday())">Hoje</button> <button (click)="goToNextMonth()">&gt;</button>
    </div>
  </div>

  <div class="calendar-container">
    <mwl-calendar-month-view [viewDate]="viewDate"[events]="events"(dayClicked)="onDayClick($event.day.date)"(eventClicked)="onEventClick($event)">
    </mwl-calendar-month-view>
  </div>

</div>


<div class="modal-overlay" *ngIf="showModal" (click)="closeModal()"></div>
<div class="modal-content" *ngIf="showModal">
  <app-agenda-form
    [selectedDate]="selectedDate"
    [eventoParaEditar]="selectedEvent"
    (close)="closeModal()">
  </app-agenda-form>
</div>