.numero {
    font-size: 2em;
    padding: 5px;
}

.card-body{
    background-color: #ececec;
}

.cliente-field{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1em;
}
.cliente-field p{
    font-size: 3em;
 }
.cliente-field i{
   font-size: 3em;
   margin-top: -0.5em;
}
.data-field{
    font-size: 1.5em;
    width: 100%;
}
.data{
    display: flex;
    height: 200px;
    overflow: hidden;
    width: 30%;
    margin-left: 0.9em;
}
.clientes{
    width: 30%;
}
.grafico{
    width: 50%;
}
.status-pagamento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.hora-field {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  