<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="card-header">
        <h2 class="card-title text-center mb-4">{{ dataAtual }}</h2>
        <p>Você tem <span class="numero">{{ totalClientes }}</span> clientes cadastrados.</p>
      </div>

      <div class="mt-4">
        <h3>Despesas por Categoria</h3>
        <ul>
          <li *ngFor="let categoria of totalDespesasCategoria | keyvalue">
            {{ categoria.key }}: {{ categoria.value }}
          </li>
        </ul>
      </div>

      <div class="mt-4">
        <h3>Status de Pagamentos</h3>
        <ul>
          <li>Pendentes: {{ statusContagens.PENDENTE }}</li>
          <li>Pagos: {{ statusContagens.PAGO }}</li>
          <li>Atrasados: {{ statusContagens.ATRASADO }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
