<div class="card">
  <div class="card-body">
    <form class="row g-3" (ngSubmit)="onSubmit()">
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="cliente.nome" name="nome">
      </div>

      <div class="col-md-6">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="cliente.email" name="email">
      </div>

      <div class="col-md-6">
        <label for="cpf" class="form-label">CPF:</label>
        <input type="text" class="form-control" id="cpf" [(ngModel)]="cliente.cpf" name="cpf">
      </div>

      <div class="col-md-6">
        <label for="rg" class="form-label">RG:</label>
        <input type="text" class="form-control" id="rg" [(ngModel)]="cliente.rg" name="rg">
      </div>

      <div class="col-md-6">
        <label for="profissao" class="form-label">Profissão:</label>
        <input type="text" class="form-control" id="profissao" [(ngModel)]="cliente.profissao" name="profissao">
      </div>

      <div class="col-md-6">
        <label for="telefone" class="form-label">Telefone:</label>
        <input type="text" class="form-control" id="telefone" [(ngModel)]="cliente.telefone" name="telefone">
      </div>

      <div class="col-md-6">
        <label for="dataNascimento" class="form-label">Data Nascimento:</label>
        <input type="date" class="form-control" id="dataNascimento" [(ngModel)]="cliente.dataNascimento"
          name="dataNascimento">
      </div>

      <div class="col-md-6">
        <label for="estadoCivil" class="form-label">Estado Civil:</label>
        <select id="estadoCivil" [(ngModel)]="cliente.estadoCivil" name="estadoCivil" class="form-select">
          <option value="" disabled selected>Selecione</option>
          <option value="SOLTEIRO">Solteiro(a)</option>
          <option value="CASADO">Casado(a)</option>
          <option value="DIVORCIADO">Divorciado(a)</option>
          <option value="VIUVO">Viúvo(a)</option>
        </select>
      </div>

      <h5>Endereço</h5>

      <div class="col-md-6">
        <label for="cep" class="form-label">CEP:</label>
        <input type="text" class="form-control" id="cep" [(ngModel)]="cliente.endereco.cep" name="cep">
      </div>

      <div class="col-md-6">
        <label for="logradouro" class="form-label">Logradouro:</label>
        <input type="text" class="form-control" id="logradouro" [(ngModel)]="cliente.endereco.logradouro"
          name="logradouro">
      </div>

      <div class="col-md-6">
        <label for="numero" class="form-label">Número:</label>
        <input type="text" class="form-control" id="numero" [(ngModel)]="cliente.endereco.numero" name="numero">
      </div>

      <div class="col-md-6">
        <label for="complemento" class="form-label">Complemento:</label>
        <input type="text" class="form-control" id="complemento" [(ngModel)]="cliente.endereco.complemento"
          name="complemento">
      </div>

      <div class="col-md-6">
        <label for="bairro" class="form-label">Bairro:</label>
        <input type="text" class="form-control" id="bairro" [(ngModel)]="cliente.endereco.bairro" name="bairro">
      </div>

      <div class="col-md-6">
        <label for="cidade" class="form-label">Cidade:</label>
        <input type="text" class="form-control" id="cidade" [(ngModel)]="cliente.endereco.cidade" name="cidade">
      </div>

      <div class="col-md-6">
        <label for="uf" class="form-label">UF:</label>
        <input type="text" class="form-control" id="uf" [(ngModel)]="cliente.endereco.uf" name="uf">
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Salvar Cliente</button>
      </div>

    </form>
  </div>
</div>
