<div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="card-title">Listagem de Processos</h4>
        <a class="btn btn-primary" [routerLink]="[getRoute('processo/salvarProcesso')]">
          Novo Processo
        </a>
      </div>
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Número do Processo</th>
            <th>Área de Atuação</th>
            <th>Cliente</th>
            <th>Situação Atual</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let processo of (listaFiltrada.length > 0 ? listaFiltrada : lista)">
            <td>{{processo.id}}</td>
            <td>{{processo.numeroProcesso}}</td>
            <td>{{processo.areaAtuacao}}</td>
            <td>{{processo.cliente.nome}}</td>
            <td>{{processo.situacaoAtual}}</td>
            <td>
              <div class="buttons action-column" >
                <button class="btn btn-warning btn-sm mx-1" [routerLink]="[getRoute('prcesso/editarProcesso'), processo.id]">
                  <i class="fas fa-pencil-alt"></i>
                  <span class="button-text">
                    Editar
                  </span>
                </button>
                <button (click)="deletarProcesso(processo)" class="btn btn-sm btn-danger">
                  Excluir
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>