<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h2 class="card-title text-center mb-4">Listagem de Processos</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <a class="btn btn-primary" [routerLink]="[getRoute('processo/salvarProcesso')]">
                    <i class="fas fa-plus"></i> Novo Processo
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Número do Processo</th>
                    <th>Cliente</th>
                    <th>Área de Atuação</th>
                    <th>Situação Atual</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let processo of lista; trackBy: trackById">
                    <td>{{processo.numeroProcesso}}</td>
                    <td>{{processo.cliente.nome}}</td>
                    <td>{{processo.areaAtuacao}}</td>
                    <td>{{processo.situacaoAtual}}</td>
                    <td class="buttons action-column">
                        <button class="btn btn-warning btn-sm mx-1" [routerLink]="[getRoute('processo/editarProcesso'), processo.id]">
                            <i class="fas fa-pencil-alt"></i>
                            <span class="button-text">
                                Editar
                            </span>
                        </button>
                        <button class="btn btn-danger btn-sm mx-1" (click)="deletarProcesso(processo)">
                            <i class="fas fa-trash"></i>
                            <span class="button-text">
                                Excluir
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
