<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a [routerLink]="getRoute('dashboard')" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
      </a>
      <a [routerLink]="getRoute('agendas')" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-calendar fa-fw me-3"></i><span>Agenda</span>
      </a>
      <a [routerLink]="getRoute('clientes')" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-users fa-fw me-3"></i><span>Clientes</span>
      </a>
        @if(loginService.hasPermission('ADMIN')){
        <a [routerLink]="getRoute('despesas')" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-money-bill fa-fw me-3"></i><span>Despesas</span>
        </a>
        <a [routerLink]="getRoute('processo')" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-money-bill fa-fw me-3"></i><span>Processos</span>
        </a>
      }
    </div>
  </div>
</nav>

<main style="margin-top: 90px">
  <div class="container pt-4">
    <router-outlet></router-outlet>
  </div>
</main>
