<div class="card">
    <div class="card-body">
      <div class="card-header mb-4">

        <a class="btn btn-primary" href="/principal/despesas">
          Voltar
        </a>

        <h2 class="card-title text-center mb-4">Nova Despesa</h2>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Valor</label>
            <input
            type="text"
            class="form-control"
            formControlName="honorario"
            (input)="formatCurrency($event)"
            placeholder="R$ 0,00"
          />
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Categoria</label>
            <select class="form-select" formControlName="categoriaDespesa">
              <option value="">Selecione</option>
              <option *ngFor="let item of categoria" [value]="item">
                {{item}}
              </option>
            </select>
          </div>
          
          <div class="col-md-6 mb-3">
            <label class="form-label">Forma de Pagamento</label>
            <select class="form-select" formControlName="formaPagamento">
              <option value="">Selecione</option>
              <option *ngFor="let forma of formasPagamento" [value]="forma">
                {{forma}}
              </option>
            </select>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Status do Pagamento</label>
            <select class="form-select" formControlName="statusPagamento">
              <option value="">Selecione</option>
              <option *ngFor="let status of statusOptions" [value]="status">
                {{status}}
              </option>
            </select>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Data de Vencimento</label>
            <input type="date" class="form-control" formControlName="dataVencimento">
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Observação</label>
            <input
            type="text"
            class="form-control"
            formControlName="observacao"
          />
          </div>


          <div class="col-md-6 mb-3">
            <label class="form-label">Despesas Adicionais</label>
            <input
            type="text"
            class="form-control"
            formControlName="despesasAdicionais"
            (input)="formatCurrency($event)"
            placeholder="R$ 0,00"
          />

          

          <div class="form-group">
            <label for="cliente">Cliente:</label>
            <select id="cliente" formControlName="clienteId" required class="form-select">
              <option value="" disabled selected>Selecione o cliente</option>
              <option *ngFor="let cliente of clientes" [value]="cliente.id">
                {{ cliente.nome }}
              </option>
            </select>
          </div>
          </div>
        </div>

        <div class="d-flex gap-2 mt-2 justify-content-center">
          <button type="submit" class="btn btn-success" [disabled]="!form.valid">
            Salvar
          </button>
          <button type="button" class="btn btn-primary" (click)="limparFormulario()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>