.card {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
  
    .card-body {
      .btn {
        margin: 0.2em;
        i {
          margin: 0 0.3em;
        }
      }
  
      h4.card-title {
        text-align: center;
        margin-bottom: 1.5em;
      }
  
      form {
        .col-md-6,
        .col-md-12 {
          margin-bottom: 1em;
  
          label {
            font-weight: bold;
          }
  
          .form-control,
          .form-select {
            border-radius: 0.25em;
            &:focus {
              outline: none;
              border-color: #007bff;
              box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
  
            &.is-invalid {
              border-color: #dc3545;
              box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
            }
          }
  
          .invalid-feedback {
            font-size: 0.9em;
            color: #dc3545;
          }
        }
  
        .input-group {
          .btn-primary {
            border-radius: 0.25em;
          }
        }
  
        .list-group-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          .btn-danger {
            font-size: 0.8em;
          }
        }
  
        button[type='submit'] {
          display: block;
          width: 100%;
          font-weight: bold;
        }
      }
    }
  }
  
  // Estilo responsivo
  @media (max-width: 991.98px) {
    .btn-secondary {
      .button-text {
        display: none;
      }
    }
  }