<div class="card">
    <div class="card-body">
      <div class="card-header">
        <h2 class="card-title text-center mb-4">Despesas</h2>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 mb-2">
          <button class="btn btn-primary" routerLink="/admin/despesas/salvarDespesa">
            <i class="fas fa-user-plus"></i> Nova Despesa
          </button>
        </div>
      </div>
  
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Honorário</th>
            <th>Despesas Adicionais</th>
            <th>Status de Pagamento</th>
            <th>Data de Vencimento</th>
            <th>Forma de Pagamento</th>
            <th>Categoria</th>
            <th>Observação</th>
            <th>Cliente</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let despesa of (listaFiltrada.length > 0 ? listaFiltrada : lista)">
            <td>{{despesa.id}}</td>
            <td>{{despesa.honorario | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
            <td>{{despesa.despesasAdicionais | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
            <td>{{despesa.statusPagamento}}</td>
            <td>{{despesa.dataVencimento}}</td>
            <td>{{despesa.formaPagamento}}</td>
            <td>{{despesa.categoriaDespesa}}</td>
            <td>{{despesa.observacao}}</td>
            <td>{{despesa.cliente.nome}}</td>
            <td class="buttons action-column">
              <button class="btn btn-warning btn-sm mx-1" routerLink="/despesas/editarDespesa/{{despesa.id}}">
                <i class="fas fa-pencil-alt"></i>
                <span class="button-text">
                  Editar
                </span>
              </button>
            
              <button class="btn btn-danger btn-sm mx-1"(click)="delete(despesa)">
                <i class="fas fa-trash"></i>
                <span class="button-text">
                  Deletar
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <br>
  