.container-fluid{
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:23em;
    height: 34em;
    background-color: rgb(226, 226, 226, 0.9);
    backdrop-filter: blur( 13.5px );
}
.card-body {
    width:80%;
    margin: 2em auto;
}
.logo{
    margin-bottom: 1em;
    border-radius: 50%;
    width: 150px;
}