.container-fluid{
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    text-align: center;
    width:26em;
}
.card-body {
    width:80%;
    margin: 2em auto;
}
img{
    margin-bottom: 1em;
    border-radius: 50%;
    width: 100px;
}