<div class="card">
  <div class="card-body">
    <div class="card-header">
      <h2 class="card-title text-center mb-4">Agenda</h2>
    </div>
    <form (ngSubmit)="salvarContato()">

        <div class="row mb-3">
          <div class="col">
            <label for="cliente" class="form-label">Cliente:</label>
            <select id="cliente" [(ngModel)]="selectedClienteId" name="cliente" required class="form-select">
              <option value="" disabled selected>Selecione o cliente</option>
              <option *ngFor="let cliente of clientes" [value]="cliente.id">
                {{ cliente.nome }}
              </option>
            </select>
          </div>

          <div class="col-4">
            <div>
              <label for="dataUltimoContato" class="form-label">Data do Último Contato:</label>
              <input type="date" id="dataUltimoContato" [(ngModel)]="contato.dataUltimoContato" name="dataUltimoContato"
                required class="form-control" [max]="today" />
            </div>
          </div>
        </div>

      
      <div class="mb-3">
        <label for="meioContato" class="form-label">Meio de Contato:</label>
        <select id="meioContato" [(ngModel)]="contato.meioContato" name="meioContato" required class="form-select">
          <option value="" disabled selected>Selecione</option>
          <option value="presencial">Presencial</option>
          <option value="ligacao">Ligação</option>
          <option value="mensagem">Mensagem</option>
          <option value="videoconferencia">Videoconferência</option>
          <option value="email">E-mail</option>
          <option value="outro">Outro</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="notasContato" class="form-label">Notas do Contato:</label>
        <textarea id="notasContato" [(ngModel)]="contato.notasContato" name="notasContato" required class="form-control"
          maxlength="140" style="resize: none;"></textarea>
      </div>

      <div class="mb-3">
        <label for="proximoPassos" class="form-label">Próximos Passos:</label>
        <textarea id="proximoPassos" [(ngModel)]="contato.proximoPassos" name="proximoPassos" required
          class="form-control" maxlength="140" style="resize: none;"></textarea>
      </div>

      <div class="d-flex justify-content-center mt-4 gap-3">
        <button type="submit" class="btn btn-success me-2">Salvar</button>
        <button type="button" class="btn btn-primary" (click)="limparFormulario()">Limpar</button>
      </div>
    </form>
  </div>
</div>

<div class="card mt-4">
  <div class="card-header">
    <h3>Lista de Contatos</h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Data</th>
          <th>Meio</th>
          <th>Notas</th>
          <th>Próximos Passos</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contato of contatos">
          <td>{{contato.cliente?.nome}}</td>
          <td>{{ contato.dataUltimoContato | date:'dd/MM/yyyy' }}</td>
          <td>{{ contato.meioContato }}</td>
          <td class="notes-cell">{{ contato.notasContato }}</td>
          <td class="notes-cell">{{ contato.proximoPassos }}</td>
          <td>
            <div class="d-flex gap-2">
            <button class="btn btn-warning btn-sm me-1" (click)="editarContato(contato)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="contato.id ? excluirContato(contato.id) : null">Excluir</button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>